* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Raleway", sans-serif;
}

.navigation ul {
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation li {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px;
}

.navigation li.logo {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
}

.logo_size {
  max-width: 150px;
}

#banner {
  background-image: url("/resources/media/pictures/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
  max-width: 100%;
}

#banner h1 {
  color: white;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  border: 3px solid white;
  border-radius: 4px;
  position: relative;
  top: 130px;
  width: 400px;
  height: 80px;
  margin: 0 auto;
}

.btn-branding {
  background: blue;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.content-container {
  padding: 100px 20px;
}

.profile-pict {
  max-width: 70%;
  border-radius: 20px;
}

#main {
  padding: 40px;
  text-align: center;
  width: 400px;
}

.navigation a {
  color: white;
  text-decoration: none;
}

h2 {
  color: white;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
}

h3 {
  color: black;
  font-size: 26px;
  font-weight: 700;
  padding: 20px 10px;
}

p {
  color: white;
  font-size: 16px;
  line-height: 48px;
  font-weight: bold;
  text-align: center;
}

.content h4 {
  color: white;
  font-size: 10px;
  text-align: right;
  position: relative;
  bottom: -540px;
}
.content h4 a {
  color: turquoise;
}

.click-me {
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.click-me a {
  border: 3px solid white;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  display: inline-block;
  text-decoration: none;
  padding: 14px;
}

.click-me a:hover {
  background: blue;
  border: 1px solid white;
  color: white;
}

footer {
  margin: 60px auto;
}

footer .myemail_link {
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding-bottom: 10px;
}

footer .myemail_link:hover {
  color: blue;
}
footer .sm-links a {
  color: white;
  background: blue;
  border-radius: 50%;
  border: solid black 1px;
  margin: 0 20px;
  padding: 10px 14px;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .sm-links a:hover {
  color: white;
  background-color: black;
}

@media (max-width: 960px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 44px;
  }
  h3 {
    font-size: 26px;
  }
}
